<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/styleserror.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reeor</title>
    <main class="bsod container">
        <h1>
            <h1 class="neg title"><span class="bg">Error - 404</span></h1>
        </h1>
        <h3>An error has occured, to continue:</h3>
        <h3>Return to Log in Page.</h3>
        <nav class="nav">
            <h3>
                <a href="/" class="link">Log in Page</a>
            </h3>
        </nav>
    </main>
</head>
<body>

</body>
</html>